/*body{
  background: url("../../aset-designs/tiket_pdf.png") no-repeat top;
}*/

#main{
  /*margin-left: 10%;
  margin-right: 10%;*/
  /*border: 1px solid #DDDDDD;*/
  position: relative;
  /*margin-top: 20%;*/
  height: 100%;
  width: 100%;
}
img{
  /*height: 200%;*/
  width: 100%;
  height: 100%;
}

#bc{
  float:left;
  padding-top: 24.5%;
  padding-left: 6%;
  position: absolute;
  font-size: 30px;
}

#name{
  float:right;
  padding-top: 15%;
  padding-left: 53%;
  position: absolute;
  font-size: 20px;
}

#kode_tiket{
  float:right;
  padding-top: 24.5%;
  padding-left: 58.3%;
  position: absolute;
  font-size: 24px;
}
